@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;500&display=swap');

* {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: clip;
  background-color: rgb(145, 70, 255);
}

.head-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 12px;
}

.head-head {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  color: rgb(255, 255, 255);
  font-family: 'Inter Tight', sans-serif;
  font-style: italic;
  font-size: 12px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex-shrink: 0;
}

img,
a,
p {
  flex: 0 0 auto;
}

.title {
  color: rgb(255, 255, 255);
  font-family: 'Inter Tight', sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

.menu-item {
  color: rgb(255, 255, 255);
  font-family: 'Inter Tight', sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  gap: 20px;
}